@page "/"
<link rel="stylesheet" href="/css/Home.css"/>
<h1>Welcome to the Customer Service Bot!</h1>
<p>Type your issue below and hit send:</p>
<div class="chatbox">
    @foreach (var message in messages)
    {
        if (message.StartsWith("User:"))
        {
            <div class="message user-message">@message</div>
        }
        else
        {
            <div class="message bot-message">@message</div>
        }
    }
</div>

<div>
    <input @bind="inputValue" placeholder="Chat with us" class="chat-input" />
    <button class="send-button" @onclick="(e) => Chat(inputValue)">Send</button>
</div>